.header {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 20px;
}

.container {
  min-width: 100%;
}

/* Messages */
.loadingMessage,
.errorMessage,
.emptyMessage {
  text-align: center;
  padding: 40px 20px;
  font-size: 13px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
}

/* Listings Grid */
.listingsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.featuredSection,
.catalogSection {
  margin-top: 30px;
  border-radius: 16px;
  padding: 5px;
  box-sizing: border-box;
}

.sectionTitle {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    margin-bottom: 0px;
  }

  .featuredSection,
  .catalogSection {
    margin-top: 10px;
  }

  .createButton {
    width: 100%;
    justify-content: center;
  }

  .listingsGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }

  .pageTitle {
    font-size: 2rem;
  }

  .imageContainer {
    height: 200px;
  }
}
