.listingCard {
  background: var(--cor-secundaria);
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.listingCard:hover {
  border-color: var(--cor-borda);
  box-shadow: 0 5px 15px rgba(251, 184, 41, 0.2);
  transform: translateY(-5px);
}

.imageContainer {
  width: 100%;
  height: 200px;
  background: var(--cor-amarelo-escuro-hoover);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.listingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.noImage {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.listingInfo {
  padding: 10px 20px 0px 20px;
}

.listingTitle {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listingPrice {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--cor-amarelo-medio);
}

.listingDetails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.condition,
.quantity {
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--cor-sucess);
  color: #ffffff;
}

.seller {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  font-style: italic;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.deleteButton {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  background: rgba(220, 53, 69, 0.2);
  color: var(--cor-rosa-claro);
  height: 30px;
}
.deleteButton:hover {
  background: rgba(220, 53, 69, 0.4);
}

@media (max-width: 768px) {
  .listingCard {
    border-radius: 15px;
  }
  
  .imageContainer {
    height: 150px;
  }
  
  .listingInfo {
    padding: 8px 15px;
  }
  
  .listingTitle {
    font-size: 1rem;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .listingPrice {
    font-size: 1.4rem;
  }
  
  .listingDetails {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .condition,
  .quantity {
    font-size: 0.75rem;
    padding: 3px 8px;
  }
  
  .seller {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .imageContainer {
    height: 120px;
  }
  
  .listingTitle {
    font-size: 0.9rem;
  }
  
  .listingPrice {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    gap: 10px;
  }
  
  .deleteButton {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}