.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid var(--cor-texto);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .spinner {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }
}

@media (max-width: 480px) {
  .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }
}
