.logo {
  width: 250px;
}

.logoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 150px;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 120px;
  }
}