.searchBar {
  display: flex;
  align-items: center;
  background-color: var(--cor-search-bar);
  border-radius: 15px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  min-width: 400px; 
}

@media (max-width: 768px) {
  .searchBar {
    min-width: 100%;
    width: 100%;
    padding: 0.4rem;
  }
  
  .searchBar input {
    font-size: 0.9rem;
    margin-left: 0.3rem;
  }
  
  .searchIconWrapper {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 480px) {
  .searchBar {
    padding: 0.3rem;
  }
  
  .searchBar input {
    font-size: 0.8rem;
  }
  
  .searchBar input::placeholder {
    font-size: 0.8rem;
  }
}